<% content_for :title, "New comment" %>

<!-- app/views/comments/new.html.erb -->
<h1>New comment</h1>

<%= render "form", comment: @comment %>

<div>
  <%= link_to "Back to movie", movie_path(@comment.rating.movie) %>
</div>