<% content_for :title, "Add New Comment" %>

<div class="container my-4">
  <h1 class="mb-4">➕ Add a New Comment</h1>

  <%= render "form", comment: @comment %>

  <div class="mt-3">
    <%= link_to "⬅️ Back to Movie",
                movie_path(@comment.rating.movie),
                class: "btn btn-secondary" %>
  </div>
</div>
